<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>信息管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" media="screen" href="./assets/icon/iconfont.css">
    <link rel="stylesheet" media="screen" href="./css/infoEdit.css">
</head>

<body>

    <el-container id="app">
        <el-header id="header">
            <el-row id="headerRow" type="flex" justify="space-between" align="middle">
                <el-col :span="10">
                    <div id="title">酷宽工作室后台管理</div>
                </el-col>
                <el-col :span="6">
                    <el-row type="flex" align="middle" justify="space-around">
                        <el-col :span="15">
                            <i class="el-icon-extra-people_fill" style="display:inline-block"></i>
                            <div id="userName" style="display:inline-block">{{userName}}</div>
                        </el-col>
                        <el-col :span="1">
                            <el-button size="mini" icon="el-icon-setting" circle></el-button>
                        </el-col>
                        <el-col :span="1">
                            <el-button size="mini" icon="el-icon-info" circle></el-button>
                        </el-col>
                        <el-col :span="1">
                            <el-button size="mini" icon="el-icon-error" circle></el-button>
                        </el-col>
                    </el-row>

                </el-col>
            </el-row>
        </el-header>
        <el-container>
            <el-aside id="aside" width="10vw">
                <el-menu id="asideMenu" default-active="3" @select="handleMenuSelect" :collapse="isCollapse">
                    <el-card id="userHead" shadow="never">
                        <div id="headImgOuter">
                            <img id="headImg" :src="headImgUrl">
                        </div>
                        <div id="headName">{{userName}}</div>
                    </el-card>
                    <hr id="menuHr">
                    <el-menu-item index="1">
                        <i class="el-icon-extra-group"></i>
                        <span slot="title">用户管理</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-extra-manage"></i>
                        <span slot="title">栏目管理</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-document"></i>
                        <span slot="title">信息管理</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-time"></i>
                        <span slot="title">查询日志</span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-extra-dynamic"></i>
                        <span slot="title">股票数据</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main id="main">
                <div id="mainBack">
                    <el-row type="flex" justify="start" align="middle">
                        <div id="ArticleEditTitle"><span>信息编辑 ></span></div>
                    </el-row>
                    <el-row type="flex" justify="start" align="middle">
                        <hr class="mainHr">
                    </el-row>
                    <el-row class="newArticleRow" type="flex" justify="center" align="middle">
                        <el-col :xs="3" :sm="3" :md="3" :lg="2" :xl="2">
                            <span>标 题</span>
                        </el-col>
                        <el-col :xs="8" :sm="6" :md="6" :lg="6" :xl="6">
                            <el-input label="test" v-model="newArticleName" clearable></el-input>
                        </el-col>
                    </el-row>
                    <el-row class="newArticleRow" type="flex" justify="center" align="middle">
                        <el-col :xs="4" :sm="4" :md="3" :lg="3" :xl="2">
                            <span>栏 目</span>
                        </el-col>
                        <el-col :xs="8" :sm="8" :md="6" :lg="5" :xl="3">
                            <el-select v-model="colSelect" placeholder="请选择">
                                <el-option v-for="item in columns" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :xs="4" :sm="4" :md="3" :lg="3" :xl="2">
                            <span>级 别</span>
                        </el-col>
                        <el-col :xs="5" :sm="4" :md="3" :lg="2" :xl="2">
                            <el-select v-model="level" placeholder="请选择">
                                <el-option v-for="item in levelSel" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                    <el-row id="ArticleRow" type="flex" justify="center" align="middle">
                        <!-- 编辑器的容器 -->
                        <script id="container" name="content" type="text/plain"></script>
                    </el-row>
                    <el-row id="finishBtn" type="flex" justify="center" align="middle">
                        <el-button type="primary" icon="el-icon-upload2" @click="handleCreateArticle">上传</el-button>
                    </el-row>

                </div>
            </el-main>
        </el-container>
    </el-container>


    <!-- 配置文件 -->
    <script type="text/javascript" src="./ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="./ueditor/ueditor.all.js"></script>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/infoEdit.js"></script>

</body>

</html>