<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>后台登陆</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" media="screen" href="./assets/icon/iconfont.css">
  <link rel="stylesheet" media="screen" href="./css/login.css">
</head>

<body>

  <!-- particles.js container -->
  <div id="particles-js">
    <el-container id="app">
      <el-main>
        <el-row type="flex" align="middle" class="row-bg" justify="center">
          <el-col id="registerForm" :xs="18" :sm="14" :md="10" :lg="8" :xl="6">
            <el-row id="titleRow">
              <span id="Title">酷宽工作室后台登陆</span>
            </el-row>

            <div id="register">
              <el-form :model="loginForm" :rules="rules" ref="loginForm" @submit.native.prevent>
                <el-form-item required prop="name">
                  <el-row class="formInput" id="userNameRow">
                    <el-input v-model="loginForm.name" placeholder="用户名/手机号码" prefix-icon="el-icon-extra-mine_fill"></el-input>
                  </el-row>
                </el-form-item>

                <el-form-item required prop="code">
                  <el-row class="formInput" id="passwordRow">
                    <el-input type='password' v-model="loginForm.code" placeholder="密码" prefix-icon="el-icon-extra-lock_fill"></el-input>
                  </el-row>
                </el-form-item>
              </el-form>


              <el-row class="formInput" id="signUpBtnRow" align="middle" justify="end">
                <el-col :xs="18" :span="12">
                  <el-checkbox id="rememberAccount" v-model="remember">记住用户名和密码</el-checkbox>
                </el-col>
                <el-col :xs="6" :span="12">
                  <el-button id="signUpBtn" type="text">注册账号</el-button>
                </el-col>
              </el-row>

              <el-row class="formInput" id="logininBtnRow">
                <el-button id="logininBtn" type="primary">登陆</el-button>
              </el-row>

            </div>
          </el-col>
        </el-row>
      </el-main>
      <el-footer>
        <el-row id="footerRow" type="flex" align="middle" class="row-bg" justify="center">
          <el-col :xs="18" :sm="14" :md="10" :lg="8" :xl="6">
            <span id="footer">©版权所有：酷宽网络工作室</span>
          </el-col>
        </el-row>
      </el-footer>
    </el-container>
  </div>

  <!-- scripts -->
  <script src="./js/lib/particles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./js/login.js"></script>

</body>

</html>